.changepassword{
    color: white;
    display: flex;
    position: relative;
   justify-content: center;
   align-items: center;
   font-size: xx-large;
   
   
    
}

.here {
    color: aqua;
   
}

