.logout {
    color: rgb(209, 53, 53);
    opacity: 60%;

}
.logout:hover {
    color: rgb(209, 53, 53);
    opacity: 99%;
    transform: scale(1, 1.05);
   

}

.profile_icon {
    opacity: 70%;
}
.profile_icon:hover {
    opacity: 99%;
    transform: scale(1, 1.05);
}

.bg-navbar {
    background-color: aliceblue;
}

